@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav{
    padding: 30px;
}

main{
    padding-top: 80px;
}


/* UTILITIES */

.flex{
    display: flex;
}

.f-just-center{
    justify-content: center;
}

.f-space-start{
    justify-content: flex-start;
}

.f-flex-end{
    justify-content: flex-end;
}

.f-space-between{
    justify-content: space-between;
}

.f-align-items-center{
    align-items: center;
}

.f-space-around{
    justify-content: space-around;
}

.link-header{
    text-decoration: none;
    color: #828282;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px
}

ul > img{
    padding-right: 30px;
}

.btn-start{
    border: none;
    width: 55px;
    height: 30px;
    background-color: #0061FF;
    color: white;
}
/*             */

.section-1{
    background-color:#B4D0E7;
}
.jumbo{
    width: 70%;
    margin: 0 auto;
}

.title-container{
    padding: 40px;
    font-size: 50px;
    
}

.p-container{
    
    width: 83%;
    padding-left: 40px;
    
}

.btn-trial{
    width: 230px;
    height: 50px;
    border: none;
    background-color: #0061FF;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    
}

.btn-trial2{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #0061FF;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    
}

.p-container > i{
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 30px;
}

.jumbo-img{
    width: 61%;
    
    
}

.main-container{
    width: 60%;
    margin: auto;
    
    
    margin-top: 50px;
}

.title-2-container{
    
}

.input-container{
    margin-top: 50px;
}

input{
    padding-right: 20px;
}

.column-container{
    margin-top: 40px;
}

.column{
    
    flex-basis: 30%;
    border: 1px solid darkgray;
}

.icon-container{
    width: 100%;
    text-align: center;
    border: 1px solid lightgray;
    
}

.h1-column{
    padding: 30px;
}

.span-container{
    padding: 0 30px;
}

.price{
    font-weight: bold;
}

.list-container{
    padding: 30px;
}

.list-column > li{
    padding-top: 20px;
    font-size: 15px;
    text-indent: -10px;
    padding-left: 1.2em;
}

.h1-column > h3{
    font-size: 25px;
}

.btn-container{
    padding: 30px;
}

.padding30{
    padding: 30px;
}

.alt{
    padding: 0px 30px;
    margin-bottom: 45px;
}

.line-break{
    background-color: lightgray;
    width: 18%;
    height: 2px;
    margin: 30px;
}

.fa-check{
    color: blue;
    
}

.month{
    color: darkgray;
}

.h4-column{
    padding-left: 30px;
}

.text-container{
    flex-basis: 80%;
}

.button-container{
    flex-basis: 20%;
}

.border-grey{
    border: 1px solid lightgray;
}

.margin-right{
    margin-right: 30px;
}

.img-cont-2{
    flex-basis: 60%;
}

.img-cont-2 > img{
    width: 100%;
}

.margin-top{
    margin-top: 30px;
}

.text2-cont{
    flex-basis: 40%;
}

.text-cont3{
}

.section2{
    margin-top: 50px;
}

.margin-b{
    margin-bottom: 100px;
}

.text-cont3 > p{
    padding-top: 30px;
    font-size: 17px;
}

.btn-partner{
    width: 50%;
    height: 40px;
    background-color: white;
    margin-top: 30px;
    border: 2px solid gray;
    font-size: 15px;
}

.drop-bus{
    margin-top: 150px;
}

.box-img > img{
    width: 100%;
}

.box-img > h4{
    font-size: 20px;
}

.box-img > p{
    font-size: 15px;
    padding-top: 30px;
}

.box-img{
    flex-basis: 30%;
}

.section-top{
    margin-top: 80px;
}

.fivek{
    margin-top: 200px;
}

.link-cont{
    margin-top: 50px;
}

.box-col-main{
    margin-top: 100px;

    
}

.box-column1{
    width: calc( 100vw / 3);
    height: calc( 100vw / 3);
}

.box-column2{
    width: calc( 100 / 3);
    height: calc( 100vw / 3);
}

.box{
    width: 50%;
    height: 50%;
    background-color: aqua;
    
}

.box > img{
    width: 50%;
    height: 50%;
    filter: invert(1);
}

.florida > img{
    width: 30%;
    height: 30%;
}




.sect-bring{
    background-color: #b4d0e7;
}

.bring-comp{
    padding-top: 100px;
    padding-bottom: 100px;
}

.bring-text{
    flex-basis: 60%;
    font-size: 25px;
    
}

.btn-bring{
    flex-basis: 40%;
    width: 100%;
}

.start{
    width: 70%;
    height: 40px;
    border: none;
}

.bring-text > h2{
    color: #61082B;
}

.wrap{
    flex-wrap: wrap;
}

.box-green{
    background-color: #A2D39B;
}

.box-red{
    background-color: #61082B;
}

.box-blue{
    background-color: #0093CE;
}

.box-orange{
    background-color: #FF1C1C;
}

.box-column2{
    background-color: #F5F5F5;
    padding: 50px;
    width: 42%;
}

.box-darkred{
    background-color: #D5001F;
}

.box-lightblue{
    background-color: #B4D0E7;
}

.box-darkblue{
    background-color: #0D2481;
}

.box-yellow{
    background-color: #FFD830;
}

.box > img{
    justify-content: center;
    align-items: center;
}

.breakline{
    width: 30% ;
    height: 20px;
    color: blue;
}

.faq-cont{
    padding-top: 100px;
}

.faq-cont > h2{
    font-size: 35px;
}

.break{
    margin-top: 50px;
    width: 100%;
    height: 2px;
    background-color: grey;
    margin-bottom: 50px;
}

footer{
    background-color: black;
    padding-bottom: 50px;
}

.footer-list{
    color: white;
    padding-top: 100px;
    font-size: 25px;
}

.li-white{
    color: white;
    list-style: none;
    padding-top: 20px;
}

.break2{
    margin-top: 50px;
    width: 80%;
    height: 2px;
    background-color: grey;
    margin-bottom: 50px;
}

.fa-earth-americas, .lang{
    color: grey;
}

.main-container2{
    width: 60%;
    margin: auto;
}

.faq-text{
    margin-bottom: 50px;
    margin-top: 50px;
}

.faq-text > p{
    display: none;
}

.footer-icon{
    margin-top: 50px;
}

#hr-final{
    margin-bottom: 150px;
}





